# MacOS
.DS_Store

# Virtual Environment
.venv/
venv/


# Pycache
*/__pycache__/
__pycache__/


# Log files
*.log

# Jupyter
*.ipynb
.ipynb_checkpoints/

# vscode
.vscode/
*.code-workspace
 
# Pytest
pytest.ini
.pytest_cache

# Backups
BACKUP/*